body {
  background-color: rgb(114 184 246);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}


.light {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: relative;
  height: 80px;
  width: 80px;
  bottom: 3px;
  margin-bottom: 0.5rem;
}


